routes obtained from a peer are not visible to linux kernel

Hi, I've built a simple test setup with three VMs to test out some configurations. the three VMs run debian 10 with openbgpd-portable 6.6p0
one VM (called rtr0, AS 65001) is configured for announcing a prefix and the other (called rtr-upstream0, AS 65002) should simply be receiving it (the last one is just a point in the prefix that gets announced so I can run some connectivity tests. it's connected with a "private" network to rtr0).

my hope is that once the prefix is received by rtr-upstream0, then it should become possible to ping an IP in that prefix from rtr-upstream0.

I can currently see that the prefix is properly announced:

~~~
root@rtr0:/usr/local/etc# /usr/local/sbin/bgpctl s rib large-community 65001:1:1
flags: * = Valid, > = Selected, I = via IBGP, A = Announced,
       S = Stale, E = Error
origin validation state: N = not-found, V = valid, ! = invalid
origin: i = IGP, e = EGP, ? = Incomplete

flags ovs destination          gateway          lpref   med aspath origin
AI*>    N 10.0.0.0/24          0.0.0.0            100     0 i
~~~

and on the other end the prefix is visible:

~~~
root@rtr-upstream0:/usr/local/etc# /usr/local/sbin/bgpctl s rib
flags: * = Valid, > = Selected, I = via IBGP, A = Announced,
       S = Stale, E = Error
origin validation state: N = not-found, V = valid, ! = invalid
origin: i = IGP, e = EGP, ? = Incomplete

flags ovs destination          gateway          lpref   med aspath origin
*>      N 10.0.0.0/24          192.168.42.100     100     0 65001 i
~~~

however I can't ping the third VM on IP 10.0.0.95, and if I ask the kernel how it would go about reaching that IP, it sends me to the default route (this points to the host machine for internet connectivity), 192.168.121.1:

~~~
root@rtr-upstream0:/usr/local/etc# ip route get 10.0.0.95
10.0.0.95 via 192.168.121.1 dev eth0 src 192.168.121.160 uid 0 
    cache 
root@rtr-upstream0:/usr/local/etc# ip r
default via 192.168.121.1 dev eth0 
192.168.42.0/24 dev eth1 proto kernel scope link src 192.168.42.101 
192.168.121.0/24 dev eth0 proto kernel scope link src 192.168.121.160
~~~

here 192.168.42.0/24 is the subnet used for connecting rtr0 to upstream0 and establishing their bgp session. the 10.0.0.0/24 prefix is not shown at all by "ip r".

I'm wondering if I missed something out that would prevent my setup from working as I expect it to.

Configuration of openbgpd on rtr0 is:

~~~
# $OpenBSD: bgpd.conf,v 1.15 2018/11/17 17:22:38 deraadt Exp $
# example bgpd configuration file, see bgpd.conf(5)

# define our own ASN as a macro
ASN="65001"

# global configuration
AS $ASN
router-id 192.168.42.100
listen on 192.168.42.100

fib-update yes

log updates

# TEST CONFIG ONLY
# this is useful for a mock infrastructure since it'll make changes appear
# faster but it shouldn't be set for a production setup
holdtime 9
connect-retry 5

# list of networks that may be originated by our ASN
prefix-set mynetworks {		\
	10.0.0.0/24		\
}

# define bogon prefixes which should not be part of the DFZ
prefix-set bogons {
	0.0.0.0/8 or-longer		# 'this' network [RFC1122]
	# We're playing around with announcing this block for our mock setup
	#10.0.0.0/8 or-longer		# private space [RFC1918]
	100.64.0.0/10 or-longer		# CGN Shared [RFC6598]
	127.0.0.0/8 or-longer		# localhost [RFC1122]
	169.254.0.0/16 or-longer	# link local [RFC3927]
	172.16.0.0/12 or-longer		# private space [RFC1918]
	192.0.2.0/24 or-longer		# TEST-NET-1 [RFC5737]
	192.88.99.0/24 or-longer	# 6to4 anycast relay [RFC7526]
	192.168.0.0/16 or-longer	# private space [RFC1918]
	198.18.0.0/15 or-longer		# benchmarking [RFC2544]
	198.51.100.0/24 or-longer	# TEST-NET-2 [RFC5737]
	203.0.113.0/24 or-longer	# TEST-NET-3 [RFC5737]
	224.0.0.0/4 or-longer		# multicast
	240.0.0.0/4 or-longer		# reserved for future use
	::/8 or-longer			# RFC 4291 IPv4-compatible, loopback, et al
	0100::/64 or-longer		# Discard-Only [RFC6666]
	2001:2::/48 or-longer		# BMWG [RFC5180]
	2001:10::/28 or-longer		# ORCHID [RFC4843]
	2001:db8::/32 or-longer		# docu range [RFC3849]
	2002::/16 or-longer		# 6to4 anycast relay [RFC7526]
	3ffe::/16 or-longer		# old 6bone
	fc00::/7 or-longer		# unique local unicast
	fe80::/10 or-longer		# link local unicast
	fec0::/10 or-longer		# old site local unicast
	ff00::/8 or-longer		# multicast
}

# Generate routes for the networks our ASN will originate.
# The communities (read 'tags') are later used to match on what
# is announced to EBGP neighbors
network prefix-set mynetworks set large-community $ASN:1:1

# upstream providers
group "upstreams" {
	neighbor 192.168.42.101 {
		remote-as 65002
		descr "Upstream 0"
	}
}

## rules section

# uncomment the following two lines to accept a default route from upstreams
#allow from group upstreams prefix 0.0.0.0/0
#allow from group upstreams prefix ::/0

### for simple BGP setups, no editing below this line is required ###

# Outbound EBGP: only allow self originated networks to ebgp peers
# Don't leak any routes from upstream or peering sessions. This is done
# by checking for routes that are tagged with the large-community $ASN:1:1
allow to ebgp prefix-set mynetworks large-community $ASN:1:1

# deny more-specifics of our own originated prefixes
deny quick from ebgp prefix-set mynetworks or-longer

# IBGP: allow all updates to and from our IBGP neighbors
allow from ibgp
allow to ibgp

# Scrub normal and large communities relevant to our ASN from EBGP neighbors
# https://tools.ietf.org/html/rfc7454#section-11
match from ebgp set { community delete $ASN:* }
match from ebgp set { large-community delete $ASN:*:* }

# filter out prefixes longer than 24 or shorter than 8 bits for IPv4
# and longer than 48 or shorter than 16 bits for IPv6.
allow from any inet prefixlen 8 - 24
allow from any inet6 prefixlen 16 - 48

# Honor requests to gracefully shutdown BGP sessions
# https://tools.ietf.org/html/rfc8326
match from any community GRACEFUL_SHUTDOWN set { localpref 0 }

deny quick from any prefix-set bogons

# filter bogon AS numbers
# AS_TRANS (23456) is not supposed to show up in any path and indicates a 
# missconfiguration. Additionally Private or Reserved ASNs have no place in
# the public DFZ. http://www.iana.org/assignments/as-numbers/as-numbers.xhtml
deny quick from any AS 23456
# This is usually nice but here we're making a mock setup so we're expecting to
# see private ASNs instead of public ones.
#deny quick from any AS 64496 - 131071
#deny quick from any AS 4200000000 - 4294967295

# filter out too long paths
deny from any max-as-len 100
~~~

finally, configuration of openbgpd on rtr-upstream0 is:

~~~
# $OpenBSD: bgpd.conf,v 1.15 2018/11/17 17:22:38 deraadt Exp $
# example bgpd configuration file, see bgpd.conf(5)

# define our own ASN as a macro
ASN="65002"

# global configuration
AS $ASN
router-id 192.168.42.101

fib-update yes

log updates

# TEST CONFIG ONLY
# this is useful for a mock infrastructure since it'll make changes appear
# faster but it shouldn't be set for a production setup
holdtime 9
connect-retry 5

# define bogon prefixes which should not be part of the DFZ
prefix-set bogons {
	0.0.0.0/8 or-longer		# 'this' network [RFC1122]
	# We're playing around with announcing this block in our mock setup
	#10.0.0.0/8 or-longer		# private space [RFC1918]
	100.64.0.0/10 or-longer		# CGN Shared [RFC6598]
	127.0.0.0/8 or-longer		# localhost [RFC1122]
	169.254.0.0/16 or-longer	# link local [RFC3927]
	172.16.0.0/12 or-longer		# private space [RFC1918]
	192.0.2.0/24 or-longer		# TEST-NET-1 [RFC5737]
	192.88.99.0/24 or-longer	# 6to4 anycast relay [RFC7526]
	192.168.0.0/16 or-longer	# private space [RFC1918]
	198.18.0.0/15 or-longer		# benchmarking [RFC2544]
	198.51.100.0/24 or-longer	# TEST-NET-2 [RFC5737]
	203.0.113.0/24 or-longer	# TEST-NET-3 [RFC5737]
	224.0.0.0/4 or-longer		# multicast
	240.0.0.0/4 or-longer		# reserved for future use
	::/8 or-longer			# RFC 4291 IPv4-compatible, loopback, et al
	0100::/64 or-longer		# Discard-Only [RFC6666]
	2001:2::/48 or-longer		# BMWG [RFC5180]
	2001:10::/28 or-longer		# ORCHID [RFC4843]
	2001:db8::/32 or-longer		# docu range [RFC3849]
	2002::/16 or-longer		# 6to4 anycast relay [RFC7526]
	3ffe::/16 or-longer		# old 6bone
	fc00::/7 or-longer		# unique local unicast
	fe80::/10 or-longer		# link local unicast
	fec0::/10 or-longer		# old site local unicast
	ff00::/8 or-longer		# multicast
}

# downstream clients
# for the sake of testing things, we're not filtering anything. This way we'll
# be able to see if the mock client router leaks out anything undesired.
group "downstream" {
	neighbor 192.168.42.100 {
		remote-as 65001
		descr "rtr0"
	}
}

## rules section

### for simple BGP setups, no editing below this line is required ###

## Outbound EBGP: only allow self originated networks to ebgp peers
## Don't leak any routes from upstream or peering sessions. This is done
## by checking for routes that are tagged with the large-community $ASN:1:1
#allow to ebgp prefix-set mynetworks large-community $ASN:1:1

## deny more-specifics of our own originated prefixes
#deny quick from ebgp prefix-set mynetworks or-longer

# IBGP: allow all updates to and from our IBGP neighbors
allow from ibgp
allow to ibgp

# Scrub normal and large communities relevant to our ASN from EBGP neighbors
# https://tools.ietf.org/html/rfc7454#section-11
match from ebgp set { community delete $ASN:* }
match from ebgp set { large-community delete $ASN:*:* }

# filter out prefixes longer than 24 or shorter than 8 bits for IPv4
# and longer than 48 or shorter than 16 bits for IPv6.
allow from any inet prefixlen 8 - 24
allow from any inet6 prefixlen 16 - 48

# Honor requests to gracefully shutdown BGP sessions
# https://tools.ietf.org/html/rfc8326
match from any community GRACEFUL_SHUTDOWN set { localpref 0 }

deny quick from any prefix-set bogons

# filter bogon AS numbers
# AS_TRANS (23456) is not supposed to show up in any path and indicates a 
# missconfiguration. Additionally Private or Reserved ASNs have no place in
# the public DFZ. http://www.iana.org/assignments/as-numbers/as-numbers.xhtml
deny quick from any AS 23456
# That's nice and all but since we're running a test network we *do* expect to
# see private AS numbers instead of public ones
#deny quick from any AS 64496 - 131071
#deny quick from any AS 4200000000 - 4294967295

# filter out too long paths
deny from any max-as-len 100
~~~

The portable version has currently no FIB support on Linux.

@cjeker I see, thanks for the confirmation